<table class="table table-hover">
  <thead>
    <tr class = "table-dark">
      <th scope="col">Time Slot</th>
      {% for first_name, last_name, id in doctor_name %}
      <th scope="col">{{first_name}} {{last_name}}</th>
      {% endfor %}
    </tr>
  </thead>
  <tbody>
    <tr >
      <th scope="row">Active</th>
      <td>Column content</td>
      <td>Column content</td>

    </tr>
    <tr class="table-active">
      <th scope="row">Active</th>
      <td>Column content</td>
      <td>Column content</td>
      
    </tr>
  </tbody>
</table>
