{% extends 'base1.html' %}
{% load static %}


{% block title %}Appointments{% endblock %}

{% block content %}


<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">

<div class="container-fluid">
  <div class="row content">
    <div class="col-sm-3 sidenav">
    <h3>Doctors</h3>
    <form>

      {% for item in doctor_list %}
        <div class="custom-control custom-checkbox">
          {% if item.selected %}
          <input type="checkbox" class="custom-control-input" name="doctor_list" id="{{item.id}}" checked="checked">
          <label class="custom-control-label" for="{{item.id}}"><h6> {{item.first_name}} {{item.last_name}}</h6>
          {% else %}
          <input type="checkbox" class="custom-control-input" name="doctor_list" id="{{item.id}}" checked="">
          <label class="custom-control-label" for="{{item.id}}"><h6> {{item.first_name}} {{item.last_name}}</h6>
          {% endif %}    
          </label>
        </div>
        </br>
      {% endfor %}

    </form>
    </div>



    <div class="col-sm-8">

        <h3> Appointments - {{date}}</h3>

      <!--  {% include 'appointments.html' %} -->
      <a href="#"><button type="button" class="btn btn-success">
        Book Appointment</button></a>


    <table class="table table-hover">
      <thead>
        <tr class = "table-dark">
          <th scope="col">Time Slot</th>
          {% for doctor in selected_doctor_list %}
          <th scope="col">{{doctor.first_name}} {{doctor.last_name}}</th>
          {% endfor %}
        </tr>
        <tbody>
        {% for item_row in appointment_list %}
          <tr>

              {% for item in item_row %}
               {% if item %}
                <td> {{item}} </td>
                {% else %}
                <td>
                  <a href="http://example.com">
                    <p class="text-success">
                    Book </p>
                  </a>
                </td>
                {% endif %}
              {% endfor %}
        {% endfor %}
          </tr>

          </tbody>
        </table>


    </div>
  </div>
</div>



{% endblock %}
