{% extends 'base1.html' %}
{% load static %}


{% block title %}Appointments{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">

<div class="container-fluid">
  <div class="row content">
    <div class="col-sm-3 sidenav">
    <h3>Doctors</h3>
    <form>
    {% for first_name, last_name, id in doctor_name %}
        <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="{{id}}" checked="">
          <label class="custom-control-label" for="customCheck1"><h6> {{first_name}} {{last_name}}</h6></label>
        </div>
        </br>
    {% endfor %}
    </form>
    </div>



    <div class="col-sm-9">

        <h3> Appointments</h3>

        {% include 'appointments.html' %}

        {% if all_appointments %}
        <table class="table">
            <thead class="thead-dark">
            </thead>
            {% for appointment in all_appointments %}
            <tbody>

              <tr class = "table-secondary">
                <td><a href = ""> {{ appointment.patient.name }} </a></td>
              </tr>

            </tbody>
            {% endfor %}
        </table>
        {% endif %}

    </div>
  </div>
</div>



{% endblock %}
